/*.title {*/
  /*color: white;*/
  /*text-decoration: none;*/
  /*text-transform: uppercase;*/
  /*font-size: 3em;*/
/*}*/

/*.active-menu-page {*/
  /*cursor: inherit;*/
/*}*/

/*.menu-router {*/
  /*font-family: 'BioRhyme Expanded', serif;*/
  /*color: white;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*height: 100vh;*/
/*}*/

/*.menu-body {*/
  /*!*flex-grow: 1;*!*/
  /*!*height: 100%;*!*/
  /*overflow: scroll;*/
/*}*/

/*.menu {*/
  /*overflow: scroll;*/
  /*height: 100vh;*/
  /*background-color: red;*/
/*}*/

/*a {*/
  /*display: block;*/
/*}*/

body {
  margin: 0;
  font-family: 'BioRhyme Expanded', serif;
  color: white;
  font-size: 30px;
}

* {
  padding: 0;
  margin: 0;
}

/* https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336 */

.outer-container {
  /* give the outermost container a predefined size */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inner-container {
  margin: 10px;
  background: #2196F3;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.scrollable-content {
  /*flex-grow: 1;*/

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

.title {
  font-size: 30px;
}

.burgers {
  background-color: blue;
}

.pizza {
  background-color: orange;
}

.dessert {
  background-color: pink;
}