body {
  margin: 0;
  font-family: 'BioRhyme Expanded', serif;
  color: white;
  line-height: normal;
}

/* https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336 */

.outer-container {
  /* give the outermost container a predefined size */
  /*height: 100vh;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;

  display: flex;
  flex-direction: column;
}

.inner-container {
  /*margin: 10px;*/
  background: #2196F3;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;

  /* for IE 11 to stop content going off bottom of screen */
  height: 100%;
}

.scrollable-content {
  /*flex-grow: 1;*/

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 3rem;
  }
}

a, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

.hide-active-navlink {
  display: none;
}

.inner-container > * {
  padding-left: 20px;
  padding-right: 20px;
}